body {
    background: rgb(0,3,40);
    background: radial-gradient(circle, rgba(0,3,40,1) 0%, rgba(0,69,142,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.formulario {
    background-color: #d8dfea;
    padding: 50px 10px;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
}

.formulario input {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-left: 30px;
    margin-top: 10px;
}

.boton {
    background-color: #afbdd4;
    color: #fff;
    margin-top: 50px !important;
    transition: transform .3s;
}

img {
    border-radius: 10px;
    display: block;
    max-width: 600px;
    margin: 0 auto;
    transition: transform .3s;
}

img:hover,
.boton:hover {
    transform: scale(1.1);
}


/* Estilos para la pagina despues del login */
.login-info {
    text-align: center;
    color: #d8dfea;
    margin-top: 100px;
}

.login-container {
    background-color: #afbdd4;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 10px;
    padding: 25px 0;
    margin-top: 75px;
    transition: transform .3s;
}

.login-container:hover {
    transform: scale(1.1);
}

.login-datos {
    background-color: #6d84b4;
    padding: 10px 0;
    margin: 10px 50px;
    border-radius: 10px;
}

.login-datos p{
    text-align: start;
    margin-left: 20px;
}

.login-success h2 {
    color: rgba(0,69,142,1);
}

.login-fail {
    background-color: #ff0f7b;
}